<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/j2ee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/j2ee http://xmlns.jcp.org/xml/ns/j2ee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>Project1</display-name>
	<welcome-file-list>
		<welcome-file>LoginForm.html</welcome-file>
	</welcome-file-list>
	<context-param>
		<param-name>dbDriver</param-name>
		<param-value>oracle.jdbc.driver.OracleDriver</param-value>
	</context-param>

	<context-param>
		<param-name>dbHost</param-name>
		<param-value>192.168.1.189</param-value>
	</context-param>

	<context-param>
		<param-name>dbport</param-name>
		<param-value>1523</param-value>
	</context-param>

	<context-param>
		<param-name>dbUid</param-name>
		<param-value>apps</param-value>
	</context-param>

	<context-param>
		<param-name>dbpassword </param-name>
		<param-value>apps</param-value>
	</context-param>

	<context-param>
		<param-name>dbsid</param-name>
		<param-value>sailodba</param-value>
	</context-param>

	<servlet>
		<servlet-name>RegisterServlet</servlet-name>
		<servlet-class>com.sailo.web.welcome.RegisterServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>RegisterServlet</servlet-name>
		<url-pattern>/register</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ContactServlet</servlet-name>
		<servlet-class>com.sailo.web.welcome.ContactServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ContactServlet</servlet-name>
		<url-pattern>/contact</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>com.sailo.web.welcome.LoginServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>UpdateServlet</servlet-name>
		<servlet-class>com.sailo.web.welcome.UpdateServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>UpdateServlet</servlet-name>
		<url-pattern>/update</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>DeleteServlet</servlet-name>
		<servlet-class>com.sailo.web.welcome.DeleteServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>DeleteServlet</servlet-name>
		<url-pattern>/delete</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DashboardServlet</servlet-name>
		<servlet-class>com.sailo.web.welcome.DasboardServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>DashboardServlet</servlet-name>
		<url-pattern>/dashboard</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ProfileServlet</servlet-name>
		<servlet-class>com.sailo.web.welcome.ProfileServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ProfileServlet</servlet-name>
		<url-pattern>/profile</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Logout</servlet-name>
		<servlet-class>com.sailo.web.welcome.LogoutServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>

</web-app>