<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.hbm2ddl.auto">none</property>
		<property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
		<property name="hibernate.connection.password">apps</property>
		<property name="hibernate.connection.url">jdbc:oracle:thin:@192.168.1.189:1523:sailodba</property>
		<property name="hibernate.connection.username">apps</property>
		<property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>
		<mapping class="com.test.bean.SamEmployees" />
	</session-factory>
</hibernate-configuration>
